In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("NaiveBayes.csv")

In [3]:
df

     Age  Salary  Purchased
0     19   19000          0
1     35   20000          0
2     26   43000          0
3     27   57000          0
4     19   76000          0
..   ...     ...        ...
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

[400 rows x 3 columns]

In [4]:
df.dtypes

Age          int64
Salary       int64
Purchased    int64
dtype: object

In [5]:
from sklearn.naive_bayes import GaussianNB

In [6]:
model = GaussianNB()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X=df[['Age', 'Salary']]
X

     Age  Salary
0     19   19000
1     35   20000
2     26   43000
3     27   57000
4     19   76000
..   ...     ...
395   46   41000
396   51   23000
397   50   20000
398   36   33000
399   49   36000

[400 rows x 2 columns]

In [9]:
Y=df['Purchased']
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [10]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=25,test_size=0.25)

In [11]:
model.fit(x_train, y_train)

GaussianNB()

In [12]:
y_pred = model.predict(x_test)

In [13]:
from sklearn.metrics import classification_report, accuracy_score
acc= accuracy_score(y_test, y_pred)

In [14]:
acc

0.88

In [15]:
report=classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.89      0.91        66
           1       0.81      0.85      0.83        34

    accuracy                           0.88       100
   macro avg       0.86      0.87      0.87       100
weighted avg       0.88      0.88      0.88       100

In [35]:
model.predict([[49,36000]])

C:\Users\ankit\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1], dtype=int64)